.hero-image {
    /* Set a specific height */
    height: 150px; 

    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-title {
    font-weight :100;
    letter-spacing: .2rem;
}

.card-text {
    font-weight :100;
}

.card {
    border: none;
}

@media only screen and (min-width: 120px) and (max-width: 767.98px) {
    .hero-image {
        height: 120px; 
    }
}