<div class="container-fluid text-center hero-image" [ngStyle]="{backgroundImage:'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('+cdnUrl+'/images/esmalte-header-1.png)'}">    
    
</div>

<div class="container-fluid text-center">
    <div class="row justify-content-center">
        <div class="col banner-title" style="padding: 36px 25px;">
            <p>Catálogo</p>
            <h2>ESMALTES</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At distinctio minus accusamus dolores cum sint recusandae odit excepturi laudantium nihil et quaerat alias vel, incidunt dolore magni unde officiis facere.</p>
        </div>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="row mb-3">
        <div class="col-md-3 col-6 mt-1">
            <div class="card">
                <img src="{{cdnUrl}}/images/Esmaltes/Background-less/Esmalte-1-removebg-preview.png?d=500x550" style="padding:10px;" class="card-img-top" alt="esmalte-img">
                <div class="card-body">
                  <h5 class="card-title">ESMALTE COLOR X</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit id aliquid distinctio labore</p>
                </div>
              </div>
        </div>
        <div class="col-md-3 col-6 mt-1">
            <div class="card">
                <img src="{{cdnUrl}}/images/Esmaltes/Background-less/Esmalte-2-removebg-preview.png?d=500x550" style="padding:10px;" class="card-img-top" alt="esmalte-img">
                <div class="card-body">
                  <h5 class="card-title">ESMALTE COLOR X</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit id aliquid distinctio labore</p>
                </div>
              </div>
        </div>
        <div class="col-md-3 col-6 mt-1">
            <div class="card">
                <img src="{{cdnUrl}}/images/Esmaltes/Background-less/Esmalte-3-removebg-preview.png?d=500x550" style="padding:10px;" class="card-img-top" alt="esmalte-img">
                <div class="card-body">
                  <h5 class="card-title">ESMALTE COLOR X</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit id aliquid distinctio labore</p>
                </div>
              </div>
        </div>
        <div class="col-md-3 col-6 mt-1">
            <div class="card">
                <img src="{{cdnUrl}}/images/Esmaltes/Background-less/Esmalte-4-removebg-preview.png?d=500x550" style="padding:10px;" class="card-img-top" alt="esmalte-img">
                <div class="card-body">
                  <h5 class="card-title">ESMALTE COLOR X</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit id aliquid distinctio labore</p>
                </div>
              </div>
        </div>

        <div class="col-md-3 col-6 mt-1">
            <div class="card">
                <img src="{{cdnUrl}}/images/Esmaltes/Background-less/Esmalte-5-removebg-preview.png?d=500x550" style="padding:10px;" class="card-img-top" alt="esmalte-img">
                <div class="card-body">
                  <h5 class="card-title">ENGOBE COLOR X</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit id aliquid distinctio labore</p>
                </div>
              </div>
        </div>
        <div class="col-md-3 col-6 mt-1">
            <div class="card">
                <img src="{{cdnUrl}}/images/Esmaltes/Background-less/Esmalte-6-removebg-preview.png?d=500x550" style="padding:10px;" class="card-img-top" alt="esmalte-img">
                <div class="card-body">
                  <h5 class="card-title">ENGOBE COLOR X</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit id aliquid distinctio labore</p>
                </div>
              </div>
        </div>
        <div class="col-md-3 col-6 mt-1">
            <div class="card">
                <img src="{{cdnUrl}}/images/Esmaltes/Background-less/Esmalte-7-removebg-preview.png?d=500x550" style="padding:10px;" class="card-img-top" alt="esmalte-img">
                <div class="card-body">
                  <h5 class="card-title">ENGOBE COLOR X</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit id aliquid distinctio labore</p>
                </div>
              </div>
        </div>
        <div class="col-md-3 col-6 mt-1">
            <div class="card">
                <img src="{{cdnUrl}}/images/Esmaltes/Background-less/Esmalte-8-removebg-preview.png?d=500x550" style="padding:10px;" class="card-img-top" alt="esmalte-img">
                <div class="card-body">
                  <h5 class="card-title">ENGOBE COLOR X</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit id aliquid distinctio labore</p>
                </div>
              </div>
        </div>
    </div>
</div>