<div class="container-fluid">
    <div class="row justify-center margin-paragraph">
        <div class="col-md-6 px-md-5 col-sm-6">
                <img src="{{cdnUrl}}/images/torno3.png?d=1920x1080" alt="Bootstrap" class="img-fluid">
        </div>
        <div class="col-md-6 px-md-5 col-sm-6 mt-4 mt-sm-2 mt-md-2">
            <p class="p-home-us">TALLERES</p>
            <h2>Clases de Torno</h2>
            <p class="p-home-us mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolorem quod iure similique iste! At eveniet quas blanditiis voluptatum, ea dolorum deleniti recusandae autem quisquam molestiae ipsum. </p>
        </div>
    </div>
    <div class="row justify-center margin-paragraph mt-2 grey-row">
        <div class="col-md-6 px-md-5 col-sm-6">
            <p class="p-home-us">TALLERES</p>
            <h2>Clases Construcción Manual</h2>
            <p class="p-home-us mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolorem quod iure similique iste! At eveniet quas blanditiis voluptatum, ea dolorum deleniti recusandae autem quisquam molestiae ipsum. </p>
        </div>
        <div class="col-md-6 px-md-5 col-sm-6 mt-4 mt-sm-2 mt-md-2">
            <img src="{{cdnUrl}}/images/torno3.png?d=1920x1080" alt="Bootstrap" class="img-fluid">
        </div>
    </div>
</div>
