/* The hero image */
.hero-image {
    /* Set a specific height */
    height: 50%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-title {
    color: white;
    font-weight :100;
    letter-spacing: .2rem;
}

p {
    color: white;
    font-weight :400;
    letter-spacing: .2rem;
    font-size: large;
}

.banner-title {
    color: white;
    font-weight :100;
    letter-spacing: .2rem;
}

.banner-button {
    font-weight :400;
    letter-spacing: .2rem;
    width: 100%;
    color: #28231D;
}

.btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary:visited {
    border-color: #28231D;
    border-width: 2px;
}

.btn-outline-secondary:hover {
    background-color: #28231D;
    color: #fff;
}

.p-home-us {
    color: black;
    font-weight: 100;
}