<div class="container-fluid text-center hero-image" [ngStyle]="{backgroundImage:'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('+cdnUrl+'/images/banner1.png?d=600x620)'}">
    <div class="row justify-content-center">
        <div class="col-3 mt-4">
            <img src="{{cdnUrl}}/images/white-logo.png" alt="Bootstrap" class="img-fluid">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col banner-title">
            <h1>CASA ARENA</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <p>Nos dedicamos a la fabricación de piezas únicas y la enseñanza de la tierra</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col mb-4">
            <p style="font-weight: 100;">Ubicados en la Ciudad de Puebla</p>
        </div>
    </div>
</div>

<div class="container-fluid text-center" style="margin: 100px 0;">
    <div class="row justify-content-center">
        <div class="col-8 secondary-banner">
            <h1>Lorem ipsum dolor sit. Voluptatibus non, deleniti minima itaque beatae ad? Esse?</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-5">
            <button type="button" class="btn btn-outline-secondary rounded-0 banner-button" routerLink="/landing/catalogo/esmaltes">NUESTRO CATÁLOGO</button>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-bottom: 80px;">
    <div class="row margin-paragraph">
        <div class="col-md-6 col-xs-12 px-md-5 mb-5 col-sm-6">
            <img src="{{cdnUrl}}/images/home-us-1.png?d=700x720" alt="Bootstrap" class="img-fluid">
        </div>
        <div class="col-md-6 col-xs-12 px-md-5 col-sm-6">
            <h2>Lorem ipsum dolor sit. Voluptatibus non, deleniti minima itaque beatae ad? Esse?</h2>
            <p class="p-home-us mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolorem quod iure similique iste! At eveniet quas blanditiis voluptatum, ea dolorum deleniti recusandae autem quisquam molestiae ipsum. Nesciunt, saepe perferendis!</p>
            <p class="p-home-us">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem asperiores sequi iusto consequuntur assumenda eveniet officia quis eos vel, consequatur voluptas soluta illo ratione totam aliquam magni. Velit, sapiente natus!</p>
        </div>
    </div>
    <div class="row margin-paragraph">
        <div class="col-md-6 col-xs-12 px-md-5 mb-5 col-sm-6">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cum quas voluptatum.</h2>
            <p class="p-home-us mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet repudiandae, neque illo dolorem cupiditate veniam tempora, sunt dicta corrupti facere dolorum, perferendis explicabo? Veniam a eveniet nisi obcaecati? In, natus.</p>
            <p class="p-home-us">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi natus expedita, incidunt praesentium quod qui sit illum minima voluptatem, suscipit dolorum magni aliquid maxime iure iusto saepe impedit voluptatibus debitis!</p>
        </div>
        <div class="col-md-6 col-xs-12 px-md-5 col-sm-6">
            <img src="{{cdnUrl}}/images/home-us-2.png?d=700x720" alt="Bootstrap" class="img-fluid">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-12 px-0">
            <iframe
                width="100%"
                height="400"
                style="border:0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                [src]='mapsUrl'>
            </iframe>
        </div>
    </div>
</div>