<div
    class="container-fluid text-center hero-image"
    [class.hero-image--loaded]="heroImageLoaded">
    <div
        class="hero-image__media"
        [class.hero-image__media--loaded]="heroImageLoaded"
        [ngStyle]="heroImageLoaded ? {backgroundImage: 'url(' + heroImageUrl + ')'} : null"
        aria-hidden="true"></div>
    <div class="hero-image__overlay" aria-hidden="true"></div>
    <div class="hero-image__content">
    <div class="row justify-content-center">
        <div class="col-3 mt-4">
            <div class="hero-logo-frame">
                <img
                    [src]="logoImageUrl"
                    alt="Casa Arena"
                    class="img-fluid hero-logo-image"
                    [class.hero-logo-image--loaded]="logoLoaded"
                    fetchpriority="high"
                    decoding="async"
                    (load)="markImageAsLoaded('logo')">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col banner-title">
            <h1>CASA ARENA</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <p>Nos dedicamos a la fabricación de piezas únicas y la enseñanza de la tierra</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col mb-4">
            <p style="font-weight: 100;">Ubicados en la Ciudad de Puebla</p>
        </div>
    </div>
    </div>
</div>

<div class="container-fluid text-center" style="margin: 100px 0;">
    <div class="row justify-content-center">
        <div class="col-8 secondary-banner">
            <h1>Lorem ipsum dolor sit. Voluptatibus non, deleniti minima itaque beatae ad? Esse?</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-5">
            <button type="button" class="btn btn-outline-secondary rounded-0 banner-button" routerLink="/landing/catalogo/esmaltes">NUESTRO CATÁLOGO</button>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-bottom: 80px;">
    <div class="row margin-paragraph">
        <div class="col-md-6 col-xs-12 px-md-5 mb-5 col-sm-6">
            <div class="image-frame image-frame--portrait" [class.image-frame--loaded]="firstSectionImageLoaded">
                <img
                    [src]="firstSectionImageUrl"
                    alt="Piezas de cerámica Casa Arena"
                    class="img-fluid content-image"
                    [class.content-image--loaded]="firstSectionImageLoaded"
                    decoding="async"
                    loading="lazy"
                    (load)="markImageAsLoaded('first')">
            </div>
        </div>
        <div class="col-md-6 col-xs-12 px-md-5 col-sm-6">
            <h2>Lorem ipsum dolor sit. Voluptatibus non, deleniti minima itaque beatae ad? Esse?</h2>
            <p class="p-home-us mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolorem quod iure similique iste! At eveniet quas blanditiis voluptatum, ea dolorum deleniti recusandae autem quisquam molestiae ipsum. Nesciunt, saepe perferendis!</p>
            <p class="p-home-us">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem asperiores sequi iusto consequuntur assumenda eveniet officia quis eos vel, consequatur voluptas soluta illo ratione totam aliquam magni. Velit, sapiente natus!</p>
        </div>
    </div>
    <div class="row margin-paragraph">
        <div class="col-md-6 col-xs-12 px-md-5 mb-5 col-sm-6">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cum quas voluptatum.</h2>
            <p class="p-home-us mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet repudiandae, neque illo dolorem cupiditate veniam tempora, sunt dicta corrupti facere dolorum, perferendis explicabo? Veniam a eveniet nisi obcaecati? In, natus.</p>
            <p class="p-home-us">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi natus expedita, incidunt praesentium quod qui sit illum minima voluptatem, suscipit dolorum magni aliquid maxime iure iusto saepe impedit voluptatibus debitis!</p>
        </div>
        <div class="col-md-6 col-xs-12 px-md-5 col-sm-6">
            <div class="image-frame image-frame--portrait" [class.image-frame--loaded]="secondSectionImageLoaded">
                <img
                    [src]="secondSectionImageUrl"
                    alt="Taller de cerámica Casa Arena"
                    class="img-fluid content-image"
                    [class.content-image--loaded]="secondSectionImageLoaded"
                    decoding="async"
                    loading="lazy"
                    (load)="markImageAsLoaded('second')">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-12 px-0">
            <iframe
                width="100%"
                height="400"
                style="border:0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                [src]='mapsUrl'>
            </iframe>
        </div>
    </div>
</div>
